<div th:fragment="notice" class="notice-top-bar bg-danger" data-sticky-start-at="180">
        <button class="hamburguer-btn hamburguer-btn-light notice-top-bar-close m-0 active" data-set-active="false">
        <span class="close">
            <span></span>
            <span></span>
        </span>
        </button>
        <div class="container">
            <div class="row justify-content-center py-2">
                <div class="col-9 col-md-12 text-center">
                    <p class="text-color-light font-weight-semibold mb-0">新商品上架全面預購優惠開跑!</p>
                </div>
            </div>
        </div>
    </div>
